.vs/
.vscode/
build/
.cache/
compile_commands.json
new.db
debug_symbols/
src/cJSON.c
vendor/

example/example_server/include/
example/example_server/vendor/
example/example_server/static/
example/example_server/build/
example/example_server/*.db
